:root {
    --vp-c-brand-3: var(--zx-color-primary);
    --vp-c-brand-2: var(--zx-color-primary-light-3);
    --vp-c-brand-1: var(--zx-color-primary-dark-2);
    
    --component-preview-bg: var(--vp-code-block-bg);
    --component-preview-soft: var(--vp-code-block-divider-color);
  }
  
  body {
    color: var(--vp-c-text-1);
  }
  h1, h2, h3, h4, h5, h6, p {
    color: var(--vp-c-text-1);
  }

  .zx-button {
    margin-bottom: 0px;
  }
  